body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #324241;
  background: #e9ebe5;
  line-height: 1.6;
  height: 100vh; }

.navigation {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem; }

.link {
  background: #5abd8f;
  color: #e9ebe5;
  margin: 1rem;
  text-decoration: none;
  transition: all .2s; }
