@charset "UTF-8";
.csscv * {
  margin: 0;
  padding: 0;
  font-size: 100%;
  /* [1] */
  font-family: monospace, monospace;
  /* [2] */
  font-weight: normal; }
.csscv .spaced,
.csscv .ruleset,
.csscv .notice {
  margin-bottom: 24px;
  /* [1] */
  margin-bottom: 1.5rem;
  /* [1] */ }
.csscv .spaced--large {
  margin-bottom: 120px;
  margin-bottom: 3.5rem; }
.csscv .indented {
  padding-left: 2.5em; }
.csscv {
  line-height: 1.5;
  /* [1] */
  padding: 24px;
  /* [2] */
  padding: 1.5rem;
  /* [2] */
  padding-bottom: 0;
  color: #4f6c73;
  background-color: #002935; }
.csscv a {
  color: inherit; }
.csscv .selector {
  color: #0083ce;
  text-transform: lowercase;
  /* [1] */ }
  .csscv .selector:before {
    content: ".";
    /* [2] */ }
  .csscv .selector:after {
    content: " {";
    /* [3] */ }
.csscv .selector__delimiter {
  position: relative;
  white-space: pre;
  /* [1] */ }
  .csscv .selector__delimiter:before {
    content: "-";
    position: absolute;
    display: inline-block;
    width: .625em;
    text-align: center; }
.csscv .declarations:after {
  content: "}";
  /* [1] */
  color: #0083ce; }
.csscv .property {
  text-transform: lowercase;
  float: left;
  clear: both;
  padding-left: 2.5em;
  /* [1] */
  color: #b58a0a; }
  .csscv .property:after {
    content: ":\00A0";
    /* [2] */
    color: #7f9597; }
.csscv .value {
  color: #b58a0a; }
  .csscv .value:after {
    content: ";";
    /* [1] */
    color: #7f9597; }
.csscv .string {
  color: #00a19b; }
  .csscv .string:before, .csscv .string:after {
    content: "\""; }
.csscv .number {
  color: #00a19b; }
.csscv .url:before {
  content: "url("; }
.csscv .url:after {
  content: ")"; }
.csscv .value-list {
  list-style: none;
  display: inline; }
  .csscv .value-list > li {
    display: inline; }
    .csscv .value-list > li:after {
      content: ", "; }
    .csscv .value-list > li:last-child:after {
      content: ""; }
.csscv .element:before {
  content: attr(data-namespace) "__";
  /* [1] */ }
.csscv .modifier:before {
  content: attr(data-namespace) "--";
  /* [2] */ }
.csscv .comment {
  color: #7f9597; }
  .csscv .comment:before {
    content: "/* "; }
  .csscv .comment:after {
    content: " */"; }
.csscv .comment-block {
  color: #7f9597; }
  .csscv .comment-block:before, .csscv .comment-block:after {
    display: block; }
  .csscv .comment-block:before {
    content: "/**"; }
  .csscv .comment-block:after {
    content: "\00A0*/"; }
.csscv .comment-block__line {
  display: block; }
  .csscv .comment-block__line:before {
    content: "\00A0*\00A0"; }
.csscv .notice {
  display: block !important;}