@import url('https://fonts.googleapis.com/css?family=Spectral:400,600');
@import 'node_modules/bulma/bulma.sass';

$brand: tomato;

body {
  font-family: 'Spectral', serif;
}

a {
  color: $brand;
}

.hallo {
  margin-bottom: 2rem;
}

.me {
  border: 2px solid $brand;
  width: 192px;
  height: 192px;
  transform: rotate(-45deg);
  margin: 0 auto;
}

.links {
  margin-top: 1rem;
  text-align: center;
}

.columns .column + .column {
  border-left: 2px solid $brand;
}
