body {
	margin: 0 20px;
	padding: 0;
	background-color: #002b36;
  font-size: 16px;
}

code {
  word-wrap: break-word;
}

* {
	margin: 0px;
	padding: 0px;
}

.highlight {
	width: 100%;
}

.highlight pre {
  color: #93a1a1;
  background-color: transparent;
}

.highlight .const {
  color: #859900;
}
.highlight .string {
  color: #93a1a1;
}
.highlight .var {
  color: #268bd2;
}
.highlight .number, .highlight .array {
  color: #d33682;
}

a {
  color: #6c71c4;
}
