// -- variables ---------------------------------------------------------------

$sol-selector: #0083ce;
$sol-property: #b58a0a;
$sol-string: #00a19b;
$sol-comment: #7f9597;
$sol-bg: #002935;

$twi-selector: #0083ce;
$twi-property: #d6bb6d;
$twi-string: #8f9d6a;
$twi-comment: #777777;
$twi-bg: #141414;

// -- csscv -------------------------------------------------------------------
.csscv {
  * {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: monospace, monospace;
    font-weight: normal;
  }

  .spaced,
  .ruleset,
  .notice {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
  }

  .spaced--large {
    margin-bottom: 120px;
    margin-bottom: 3.5rem;
  }

  .indented {
    padding-left: 2.5em;
  }

  line-height: 1.5;
  padding: 24px;
  padding: 1.5rem;
  padding-bottom: 0;
  background-color: $sol-bg;

  a {
    color: inherit;
  }

  .selector {
    color: $sol-selector;
    text-transform: lowercase;

    &::before {
      content: '.'
    }
    &::after {
      content: ' {';
    }

    &__delimiter {
      position: relative;
      white-space: pre;

      &::before {
        content: '-';
        position: absolute;
        display: inline-block;
        width: .625em;
        text-align: center;
      }
    }
  }

  .declarations {
    color: $sol-selector;

    &::after {
      content: '}';
    }
  }

  .property {
    text-transform: lowercase;
    float: left;
    clear: both;
    padding-left: 2.5em;
    color: $sol-property;

    &::after {
      content: ':\00A0';
      color: $sol-comment;
    }
  }

  .value {
    color: $sol-property;

    &::after {
      content: ';';
      color: $sol-comment;
    }
  }

  .string {
    color: $sol-string;

    &::before,
    &::after {
      content: '\"';
    }
  }

  .number {
    color: $sol-string;
  }

  .url{
    &::before {
      content: "url(";
    }

    &::after {
      content: ")";
    }
  }

  .value-list {
    list-style: none;
    display: inline;

    li {
      display: inline;

      &::after {
        content: ', ';
      }

      &:last-child {
        &::after {
          content: '';
        }
      }
    }
  }

  .element {
    &::before {
      content: attr(data-namespace) '__';
    }
  }

  .modifier {
    &::before {
      content: attr(data-namespace) '--';
    }
  }

  .comment {
    color: $sol-comment;

    &::before {
      content: '/* ';
    }

    &::after {
      content: ' */';
    }
  }

  .comment-block {
    color: $sol-comment;

    &::before,
    &::after {
      display: block;
    }

    &::before {
      content: '/**';
    }

    &::after {
      content: '\00A0*/';
    }

    &__line {
      display: block;

      &::before {
        content: '\00A0*\00A0';
      }
    }
  }

  .detail {
    display: inline-block;
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
  }

  .terminal {
    font-size: 90%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #777777;
    width: 300px;
    text-align: center;
    padding: 10px 0;
    border: 1px dashed #777777;

    &__row {
      display: block;
    }

    &__link {
      border: 0;
      padding: 5px 10px;
    }
  }
}

// -- twilight modifier -------------------------------------------------------

.csscv.twilight-theme {
  background-color: $twi-bg;

  .selector {
    color: $twi-selector;
  }

  .declarations {
    color: $twi-selector;
  }

  .property {
    color: $twi-property;

    &::after {
      color: $twi-comment;
    }
  }

  .value {
    color: $twi-property;

    &::after {
      color: $twi-comment;
    }
  }

  .string {
    color: $twi-string;
  }

  .number {
    color: $twi-string;
  }

  .comment {
    color: $twi-comment;
  }

  .comment-block {
    color: $twi-comment;
  }
}
