$white: #e9ebe5;
$black: #324241;
$green: #5abd8f;

$a: $black;
$b: $white;
$link: $green;

$deco: 30vw;

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $a;
  background: $b;
  line-height: 1.6;
  height: 100vh;
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem;
}

.link {
  background: $link;
  color: $white;
  margin: 1rem;
  text-decoration: none;
  transition: all .2s;

  &:hover {
  }
}
